node_modules
**/node_modules
test
features
coverage
hfc-cvs
hfc-kvs
.storage
.idea
.git
crypto-config
appstore/*
examples/
webapps/*
bin/

**/__tests__
**/__test__
node-config*.json
gost-deps/
*.tgz
*.zip
*.log
!admin-webapp.tgz